<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>
            Login
          </h1>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary mb-2" [disabled]="submitClick">Login</button>
        </form>
        <a style= "color: #fff; margin-top: 10px" routerLink="/register"> New user? Click to create an account! </a>
      </div>
    </div>
  </div>
</div>
