<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>
            Sign Up
          </h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName">
            </div>
            <div class="mb-3">
              <label for="userName" class="form-label">Username</label>
              <input type="email" class="form-control" id="userName" formControlName="username">
            </div>
            <div class="mb-3">
              <label for="emailAddress" class="form-label">Email address</label>
              <input type="email" class="form-control" id="emailAddress" aria-describedby="emailHelp" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
          <a style= "color: #fff; margin-top: 10px" routerLink="/login" > Already registered? Click to login! </a>
        </form>
      </div>
    </div>
  </div>
</div>
